[build]
  functions = "netlify/functions"

[functions]
  # This tells Netlify to use Python for the files in the functions folder
  node_bundler = "esbuild"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/api"
  status = 200
